{% extends 'base.html.twig' %}

{% block title %}Edit Bookings{% endblock %}

{% block body %}
    <h1 class="flex justify-center text-3xl mt-4 text-yellow-400">Modifier une réservation</h1>
    {{ include('bookings/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('bookings/_delete_form.html.twig') }}
{% endblock %}
