{% extends 'base.html.twig' %}

{% block title %}New Bookings{% endblock %}

{% block body %}
    <h1 class="flex justify-center text-3xl mt-4 text-yellow-400">Créer une nouvelle réservation</h1>
    {{ include('bookings/_form.html.twig') }}

{% endblock %}
